# System
.DS_Store

# Development

# Dependencies
node_modules

# Builds
/build
/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.tar.gz
*.db

# Environment
.env
.env.*
!.env.example

# Testing artifacts
tests/*/screenshots/
tests/*/videos/
tests/*/test-results/

# Example Data
examples/