# System
.DS_Store

# Development
docs/*/NAMDRun-python/

# Dependencies
node_modules

# Builds
/build
/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Environment
.env
.env.*
!.env.example

# Testing artifacts
tests/*/screenshots/
tests/*/videos/
tests/*/test-results/